body {
  font-family: $primary-font;
  font-style: 16px;
  line-height: 1;
  color: $gray-light;
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.second-font {
  font-family: $secondary-font;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  outline: none;
  font-weight: bold;
  border-radius: 6px;
  font-family: $primary-font;
  color: white;
  font-style: 16px;
  line-height: 55px;
  padding: 0 80px;
  &--primary {
    background-color: $blue;
  }
}
