.portfolio {
  margin-bottom: 200px;
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 90px;
    margin-bottom: 95px;
  }
  &-image {
    margin-bottom: 40px;
  }
  &-tittle {
    font-style: 22px;
    font-weight: 600;
    line-height: lineH(35, 22);
    margin-bottom: 20px;
  }
  &-category {
    font-style: 14px;
  }
  &-column {
    display: flex;
    flex-direction: column;
    gap: 90px 0;
  }
  &-link {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
